<div class="row top">
  <div class="col-md-12 col-xs-18 col-sm-12">
    <a href="/" class="btn btn-secondary" title="Home">JTP</a>
    {% for priority in (1..10) %}
      {% for node in site.pages %}
        {% if node.priority == priority %}
          {% if page.url == node.url %}
            <a href="{{node.url}}" class="active btn btn-primary">{{node.title}}</a>
          {% else %}
            <a href="{{node.url}}" class="btn btn-primary">{{node.title}}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    <a href="//github.com/jtpio" class="btn btn-primary" title="Github"><i class="fa fa-github-square fa-1x"></i></a>
    <a href="//twitter.com/jtpio" class="btn btn-primary" title="Twitter"><i class="fa fa-twitter-square fa-1x"></i></a>
    <a href="//www.linkedin.com/in/jtuloup" class="btn btn-primary" title="LinkedIn"><i class="fa fa-linkedin-square fa-1x"></i></a>
    <a href="https://fosstodon.org/@jtp" rel="me" title="Mastodon"  class="btn btn-primary"><i class="fa fa-comment-o fa-1x"></i></a>
  </div>
</div>
