<div class="top">
  <a href="/" class="btn btn-default" title="Home">JTP 1/0</a>
  {% for priority in (1..10) %}
    {% for node in site.pages %}
      {% if node.priority == priority %}
        {% if page.url == node.url %}
          <a href="{{node.url}}" class="active btn btn-primary">{{node.title}}</a>
        {% else %}
          <a href="{{node.url}}" class="btn btn-primary">{{node.title}}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  <a href="https://github.com/jtpio" class="btn btn-primary" title="Github"><i class="fa fa-github-square fa-1x"></i></a>
  <a href="https://twitter.com/jtpio" class="btn btn-primary" title="Twitter"><i class="fa fa-twitter-square fa-1x"></i></a>
  <a href="http://www.linkedin.com/in/jtuloup" class="btn btn-primary" title="LinkedIn"><i class="fa fa-linkedin-square fa-1x"></i></a>

</div>