body {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: #222222;
  color: #eeeeee;
}

a, a:hover {
	color: #df831a;
}

.btn {
	font-size: 14px;
}

.social a {
  display: inline-block;
  margin-right: 10px;
}

.labels {
  font-size: 24px;
}

.smaller {
    font-size: 12px;
}

.inner {
  padding: 20px;
}

.inner img {
  margin-right: 10px;
}

.panel-title small {
  color: white;
}

ul a {
  word-wrap: break-word;
}

.bigger {
  font-size: 20px;
}

img.center {
  display: block;
  margin: auto;
  max-width: 100%;
}

.statement {
  background: #FFF none repeat scroll 0% 0%;
}

.top {
  margin-top: 5px;
  margin-bottom: 10px;
}

.top a {
  margin-top: 10px;
}

.highlight pre {
	background-color: #222222;
	color: #eeeeee;
}

.highlighter-rouge {
  background-color: #000;
  color: #fff;
}

pre code{
	white-space: pre;
}

.list-group-item {
	background-color: #333333;
}

table td, table th {
	text-align: center;
	font-size: 16px;
}

pre code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 15px;
}

