body {
  font-size: 16px;
  margin: auto;
  font-family: Helvetica, Arial, sans-serif;
}

.social a {
  display: inline-block;
  margin-right: 10px;
}

.labels {
  font-size: 24px;
}

.smaller {
    font-size: 12px;
}

.inner {
  padding: 20px;
}

.inner img {
  margin-right: 10px;
}

.panel-heading h3, .panel-heading h4 {
  margin-bottom: 10px;
}

.panel-title small {
  color: white;
}

ul a {
  word-wrap: break-word;
}

.bigger {
  font-size: 20px;
}

img.center {
  display: block;
  margin: auto;
  max-width: 100%;
}

.statement {
  background: #FFF none repeat scroll 0% 0%;
}
