<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

    <title>JTP - {{ page.title }}</title>

    <link rel="shortcut icon" type="image/png" href="favicon.png"/>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="top" class="container">

      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">JTP</a>
        </div>
        <div class="navbar-collapse navbar-responsive-collapse collapse" style="height: 1px;">
          <ul class="nav navbar-nav">
            {% for priority in (1..10) %}
              {% for node in site.pages %}
                {% if node.priority == priority %}
                  {% if page.url == node.url %}
                    <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
                  {% else %}
                    <li><a href="{{node.url}}">{{node.title}}</a></li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>


      <div class="row">

        <div class="col-md-12 col-xs-18 col-sm-12">
      	  {{ content }}
        </div>

      </div>

      <div class="row col-md-12 col-xs-18 col-sm-12">
        <p><small>By <a href="#top">Jeremy Tuloup</a> &ndash; 2014 &ndash; Theme by <a href="http://bootswatch.com/">bootswatch</a> </small></p>
      </div>

    </div> <!-- /container -->

  	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-51952511-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>



